*{
  /*-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;*/
}

body{
	margin: 0;
}
 

header{
	width: 100%;
	background-color: #333;
	font-size: 25px;
	background: -webkit-linear-gradient(bottom right, #111,#555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top left, #111,#555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top left, #111,#555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top left, #111,#555); /* Standard syntax */
	position: fixed;
	z-index: 100;
}
header nav{
	float: right;	
}

nav li a{
	text-decoration: none;
	color:whitesmoke;
}
nav li a:hover{
	text-decoration: none;
	color:#333;
	background: -webkit-linear-gradient(bottom right, silver, whitesmoke);  
	background: -o-linear-gradient(top left, silver, whitesmoke);  
	background: -moz-linear-gradient(top left, silver, whitesmoke);  
	background: linear-gradient(to top left, silver, whitesmoke);   
}
nav li a:focus {
	text-decoration: none;
	color:#333;
}

section h2{
	font-size: 30px;
	text-align: center;
}
.navbar{
	border: none;
}
 
.section{  
	font-size: 20px;
	height: 80vh; 
} 

.content{ 
	/*height: 100vh; */
	background-color: whitesmoke;
	background: -webkit-linear-gradient(bottom right, silver, whitesmoke);  
	background: -o-linear-gradient(top left, silver, whitesmoke);  
	background: -moz-linear-gradient(top left, silver, whitesmoke);  
	background: linear-gradient(to top left, silver, whitesmoke);  
	border-top: 15px solid darkgrey;
	border-bottom: 15px solid darkgrey;
}

.background_image{
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.shanghai{
	background: url("../images/shanghai.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.sunrise2{
	background: url("../images/sunrise2a.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.sunset{
	background: url("../images/sunset_road.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.hills{
	background: url("../images/hills.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.texas{
	background: url("../images/texas.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.winter{
	background: url("../images/winter.jpg") no-repeat center center fixed;
	background-size: cover; 
}
.beach{
	background: url("../images/beach.jpg") no-repeat center center fixed;
	background-size: cover; 
}

.gallery_piece{ 
	height: 80vh;
	padding: 20px;
	background-color: aliceblue;
} 

 

#home span{
	font-size: 200px;
}
#home{
	font-size: 150px;
	font-family: 'Cinzel Decorative', cursive;
	text-align: center;
	padding: 200px 20px 20px 20px; 
	color: red;
	text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
  /*background: -webkit-linear-gradient(yellow,orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

#project a:link, #project a p{
	text-decoration: none;
	color: black; 
	margin-bottom:20;
}

.thumbnail{
  width: 100%;
  height: 450px;
  overflow: auto;
}

#contact article{
	background-color: rgba(255,255,255,0.8); 
	width: 500px;
	height: 300px;
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 5px;
	margin-left: 40px;
	margin-top: 80px;

}

#contact article a:link {
	text-decoration: none;
	color: black;
}

#contact article a:nth-child(3) i{
	color: black;
}

#contact article a:nth-child(4) i{
	color: #15487b;
}


footer{
	height: 26px;
	font-size: 12px;
	font-family: 'Poller One', cursive;
	color: whitesmoke;
	padding-left: 5px;
	padding-top: 5px; 
	background-color: #333;
	background: -webkit-linear-gradient(top right, #111,#555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, #111,#555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, #111,#555); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, #111,#555); /* Standard syntax */
}
 
